body{
    background-color: chartreuse;
}

#page{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 600px;
    height: 400px;
}

#logoimage{
    float: left;
    margin-top:0px;
}

#forms{
    float: right;
    width: 250px;
    height: 400px;
    margin-left:10px;
    margin-top:0px;
    margin-bottom:0px;
}

#login{
    margin-top:0px;
    height:110px;
    background-color: aqua;
}

#signup{
    margin-top:10px;
    height:280px;
    background-color: red;
}

.row{
    width: 100%;
    margin-top: 12px;
    margin-left:10px;
    font-size: 14px;
}

input{
    float: right;
    margin-right: 20px;
    width:140px;
}

select{
    float:right;
    margin-right: 20px;
    width:140px;
}

button{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    clear:right;
}

.header{
    font-size: 22px;
    text-align: center;
}

#feedback{
    font-size:14px;
    margin-left:10px;
}

