body{
    background-color: chartreuse;
}

#logoimage{
    float: left;
}

#forms{
    width: 250px;
    float: right;
}

#login{
    background-color: aqua;
}

#signup{

    background-color: red;
}

.row{
    width: 100%;
    margin-top: 12px;


}

#page{
    margin: auto;
    margin-top: 100px;
    width: 600px;
    height: 400px;

}

input{
    float: right;
}

button{
    float: right;
    margin-right: 0px;
    margin-top: 5px;
    clear: right;
}

select{
    float: right;
    width: 166px;
}

.header{
    font-size: 15px;
    float: left;
    margin-left: 30%;
    clear: right;

}

.clear{
    clear: both
}

label{
    font-size: 13px;
}